.movie_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  border: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: var(--dark-shades);
  border: 1px solid var(--light-accent);
  margin: 1rem;
}

.image_container {
  height: auto;
  /* height: auto; */
  width: 100%;
}

.movie_card_img {
  height: auto;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: top center;
  /* padding-top: 1px; */
  border-radius: 5px;
}

.card_content {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.movie_title {
  font-family: "Oswald";
  font-size: 1rem;
  /* margin-top: 0.5rem; */
  color: var(--dark-shades);
}

.favorites_icon {
  /* margin-top: 0.5rem; */
  color: var(--dark-shades);
  font-size: 2rem;
}
