.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.title {
  text-align: center;
  padding-top: 3em;
}

.message {
  padding: 1rem;
}

.button {
  background-color: var(--main);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid var(--light-shades);
  border-radius: 3px;
  align-self: center;
  width: 100%;
}

.button:hover {
  border: 1px solid var(--dark-shades);
  font-weight: bold;
  cursor: pointer;
}
