:root {
}
/* 
.MuiTextField-root {
  color: white;
} */

.search-form {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  color: var(--light-shades);
}

.input {
  background-color: white;
  border-radius: 5px;
}
